@model FactCheck84.Models.Text

@{
    ViewData["Title"] = "Edit";
}

<style>
    .base-form {
        background-color: #222;
        padding: 20px;
        border-radius: 30px;
        font-size: 15px;
    }

    /* Estilize a caixa de conteúdo (textarea) */
    .content-textarea {
        height: 300px; /* Ajuste a altura conforme necessário */
    }

    /* Centralize os elementos do formulário */
    .center-form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Aumente a largura do campo de entrada */
    .wide-input {
        width: 100%;
    }
</style>

<h1>Edit</h1>

<h4>Text</h4>
<hr />

<div class="center-form">
    <div class="col-md-8">
        <form asp-action="Create" class="base-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="TextStatusId" class="control-label"></label>
                <select asp-for="TextStatusId" class="form-control" asp-items="ViewBag.TextStatusId"></select>
                <span asp-validation-for="TextStatusId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control content-textarea wide-input"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}