@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FactCheck84</h1>
    <div class="">
        <ul>
            <li><p>WAR IS PEACE.</p></li>
            <li><p>FREEDON IS SLAVERY.</p></li>
            <li><p>IGNORANCE IS STRENGTH.</p></li>
        </ul>
    </div>
    <div>
        <a class="btn btn-primary" asp-area="" asp-controller="Texts" asp-action="Index">Texts</a>
        <a class="btn btn-primary" asp-area="" asp-controller="RedactedWords" asp-action="Index">RedactedWords</a>
    </div>
</div>
