@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FactCheck84</h1>
    <div class="">
        <p>WAR IS PEACE.</p>
        <p>FREEDON IS SLAVERY.</p>
        <p>IGNORANCE IS STRENGTH.</p>
    </div>
    <div>
        <a class="btn btn-primary" asp-area="" asp-controller="Texts" asp-action="Index">View Texts</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Texts" asp-action="Create">Add Texts</a>
        <a class="btn btn-primary" asp-area="" asp-controller="RedactedWords" asp-action="Index">Add RedactedWords</a>
    </div>
</div>
